### Pydantic Basics

#### 1: BaseModel

In [2]:
from pydantic import  BaseModel 

class UserDetails(BaseModel):
  username:str
  age:int
  city:str

person1=UserDetails(username="JohnDoe", age=30, city="New York")
print(type(person1))

<class '__main__.UserDetails'>

#### 2: Optional Fields

In [6]:
from typing import Optional

class Employee(BaseModel):
  id:int
  name:str
  age:int
  department:Optional[str]=None #! Optional with default value None
  is_active:Optional[bool]=True #! Optional with default value True

In [10]:
emp1=Employee(id=1101, name="Alice", age=28,)
print(emp1)

id=1101 name='Alice' age=28 department=None is_active=True

#### 3: List

In [11]:
class ClassRoom(BaseModel):
  room:str
  students:list[str]

In [12]:
firstClass=ClassRoom(room="A101", students=["John", "Alice", "Bob"])
print(firstClass)

room='A101' students=['John', 'Alice', 'Bob']

#### 4: Nested Values

In [7]:

class UserAddress(BaseModel):
  street:str
  city:str
  state:str|None


class UserDetails(BaseModel):
  username:str
  age:int | float
  email:str|None
  address:UserAddress

In [9]:
emp1=UserDetails(
  username="JohnDoe",
  age=30,     
  email="john@gmail",
  address={"street":"123 ,Main St", "city":"New York", "state":None}
)

print(emp1)

username='JohnDoe' age=30 email='john@gmail' address=UserAddress(street='123 ,Main St', city='New York', state=None)